@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  color: #212529;
  background-color: #F5F0F0;
  font-size: 1.8rem;
}

.logo {
  text-align: center;
  padding: 2rem;
}

.btnMio, .btnError {
  background-color: #F5F0F0;
  color: #212529;
  border: 2px solid #81B29A;
  font-size: 1.5rem;
  font-weight: 500;
}
.btnMio:hover, .btnError:hover {
  background-color: #81B29A;
  border: 2px solid #81B29A;
  color: #F5EBE0;
  font-weight: 500;
}

.header {
  position: sticky;
  top: 0;
}

.navbar {
  justify-content: center;
  background-color: #81B29A;
}

nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  padding: 2rem;
  margin: 0 4rem;
}
nav ul li:hover .hoverNav {
  color: #F5EBE0;
  font-weight: 400;
}
nav ul li a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #212529;
}

.navbar-toggler {
  border-color: #81B29A;
  background-color: #81B29A;
  color: #F5EBE0;
}

#pie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #81B29A;
}

.imgRedes {
  height: 4rem;
  width: 4rem;
  margin: 1rem;
}

footer div a {
  text-decoration: none;
}

.scaleFooter:hover {
  transform: scale(1.3);
  cursor: pointer;
  transition: 2s;
}

/*======== INICIA INDEX ========*/
.mainH1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  text-shadow: black 0.1em 0.1em 0.2em;
  color: #81B29A;
  padding: 3rem 0 0 0;
}

.mainH2 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 3rem;
  font-weight: 600;
}

.imagenContainer {
  margin-right: 4rem;
  padding: 1rem;
}

.imgSection {
  height: 60rem;
  width: 50rem;
  box-shadow: 0px 10px 10px #81B29A;
}

.articleOne {
  padding: 2rem;
  margin-left: 4rem;
  font-size: 2rem;
  font-style: italic;
  line-height: 4rem;
}

.articleTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
  background-color: #F5EBE0;
  margin: 2rem 0;
}

.imgIndxEscrito {
  height: 30rem;
  width: 30rem;
}

ul li {
  list-style: none;
}

.spanH2 {
  padding: 1rem 5rem;
  background-color: #81B29A;
  color: #F5EBE0;
}

.hiperV {
  text-decoration: none;
  color: #212529;
}

a:hover em {
  color: #81B29A;
  font-weight: 600;
}

article p.one:first-letter {
  font-size: 4rem;
  font-weight: 800;
}

/*======== FIN INDEX ========*/
/*======== INICIA LIBROS ========*/
.mainH1Lib {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  text-shadow: black 0.1em 0.1em 0.2em;
  color: #81B29A;
  padding: 3rem;
}

.card {
  position: static;
  justify-content: center;
  align-items: center;
  border: 2px solid #81B29A;
  background-color: #F5F0F0;
}

.card-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.list-group {
  border: 2px solid #81B29A;
}

.list-group-item {
  position: static;
  border: 2px solid #81B29A;
  background-color: #F5F0F0;
}

.cardList {
  display: flex;
  width: 100%;
  padding: 1rem;
}

.cardLink {
  text-decoration: none;
  color: #212529;
  background-color: #81B29A;
  padding: 0.5rem 4rem;
  color: #F5F0F0;
}

.imgLibros {
  height: 37rem;
  width: 28rem;
}

.mainH2L {
  font-size: 3rem;
  margin-bottom: 4rem;
  font-weight: 600;
}

.articleLibros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 2rem 4rem;
}

.listaCompra {
  margin-top: 2rem;
  padding: 4rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #F5F0F0;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.linkCompra {
  text-align: justify;
  padding: 0;
}

.card-body:hover .cardLink {
  color: #F5EBE0;
  font-weight: 600;
  padding: 0.5rem 6rem;
}

.linkCompra li {
  margin: 1rem 0;
}
.linkCompra li a {
  color: #81B29A;
}

/*======== FIN LIBROS ========*/
/*======== INICIO ESCRITOS ========*/
.mainH1Esc {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  text-shadow: black 0.1em 0.1em 0.2em;
  color: #81B29A;
  padding: 3rem;
}

.artEscritos {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  border-bottom: 2px solid #81B29A;
  border-right: 2px solid #81B29A;
}

.imgEscritos {
  height: 30rem;
  width: 30rem;
}

.textEscritos {
  padding-left: 2rem;
  padding-right: 4rem;
  text-align: justify;
}

.divImagen {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

/*======== FIN ESCRITOS ========*/
/*======== INICIA BIOGRAFIA ========*/
.mainH1Bio {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  text-shadow: black 0.1em 0.1em 0.2em;
  color: #81B29A;
  padding: 3rem 0 0 0;
}

.imgBiografia {
  height: 20rem;
  width: 20rem;
  float: left;
  padding: 1rem;
}

.articleBio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  text-align: justify;
}

.mainH2V {
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
  font-weight: 600;
}

/*======== FIN BIOGRAFIA ========*/
/*======== INICIA CONTACTO ========*/
.contact {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  text-shadow: black 0.1em 0.1em 0.2em;
  color: #F5EBE0;
  padding: 2rem;
  background-color: #81B29A;
}

.sectionFlex {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.sectionShadow {
  box-shadow: inset 0 0 10px #212529;
}

.imgContacto {
  height: 100%;
  width: 100%;
}

.paddingCont {
  padding: 1rem;
  height: 100%;
}

#nombre:focus {
  box-shadow: 0 0 5px 2px #81B29A;
  border: 1px solid #81B29A;
}

#telefono:focus {
  box-shadow: 0 0 5px 2px #81B29A;
  border: 1px solid #81B29A;
}

#email:focus {
  box-shadow: 0 0 5px 2px #81B29A;
  border: 1px solid #81B29A;
}

#mensaje:focus {
  box-shadow: 0 0 5px 2px #81B29A;
  border: 1px solid #81B29A;
}

/*======== FIN CONTACTO ========*/
/*======== INICIA ERROR 404 ========*/
.fondoError404 {
  background-image: url(../img/fondoerror.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.errorContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1Error {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  text-shadow: black 0.1em 0.1em 0.2em;
  color: #81B29A;
  padding: 0;
}

.h2Error {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  text-shadow: black 0.1em 0.1em 0.2em;
  color: #81B29A;
  padding: 0;
}

.btnError {
  width: 20rem;
  border-radius: 2rem;
  margin-top: 3rem;
}

/*======== CONTAINER GRID ========*/
/*GRID CONTAINER LAYOUT*/
#gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "logo" "header" "main" "pie";
}

.logo {
  grid-area: logo;
}

.header {
  grid-area: header;
}

.mainIndx {
  grid-area: main;
}

.pieIndx {
  grid-area: pie;
}

/*GRID CONTAINER SECTION INDEX*/
#containerSection {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "imagen texto1" "texto2 texto2" "texto2 texto2";
}

.imagenContainer {
  grid-area: imagen;
}

.articleOne {
  grid-area: texto1;
  justify-self: start;
}

.articleTwo {
  grid-area: texto2;
  width: 100%;
}

/*======== MEDIA QUERIES ========*/
/*Breakpoint LG 992*/
@media screen and (max-width: 992px) {
  #gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: "logo header" "main main" "pie pie";
  }
  .logo {
    grid-area: logo;
    background-color: #81B29A;
    position: sticky;
    top: 0;
  }
  .header {
    grid-area: header;
    background-color: #81B29A;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainIndx {
    grid-area: main;
    background-color: #F5F0F0;
  }
  .pieIndx {
    grid-area: pie;
  }
  .backColor {
    background-color: #81B29A;
  }
  .btnHamburguer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  nav ul li a {
    color: #F5EBE0;
  }
  #containerSection {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "imagen imagen" "texto1 texto1" "texto2 texto2";
  }
  .articleOne {
    margin: 2rem 0;
    justify-self: center;
  }
  .imgLogo {
    height: 50px;
    width: 182px;
  }
  .imagenContainer {
    margin: 0;
  }
  .imgSection {
    height: 50rem;
    width: 40rem;
  }
  .articleTwo {
    margin-bottom: 4rem;
  }
  .imgIndxEscrito {
    height: 20rem;
    width: 20rem;
  }
  form {
    font-size: 1rem;
  }
  #pie {
    padding: 2rem;
  }
}
@media screen and (max-width: 907px) {
  .contact {
    font-size: 2.5rem;
    padding: 0.5rem;
  }
}
/*Breakpoint MD 768*/
@media screen and (max-width: 768px) {
  nav ul li {
    padding: 1rem 0;
    margin: 0;
  }
  nav ul li a {
    font-size: 1rem;
  }
  .imgSection {
    height: 36rem;
    width: 26rem;
  }
  .articleOne {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1rem;
  }
  .articleTwo {
    font-size: 1.5rem;
  }
  .imgEscritos {
    height: 25rem;
    width: 25rem;
  }
}
/*Reajustes pequeños en cosas que se rompen*/
@media screen and (max-width: 490px) {
  .imgError404 {
    width: 28rem;
  }
  .h1Error {
    font-size: 4rem;
  }
  .h2Error {
    font-size: 3rem;
  }
}
@media screen and (max-width: 373px) {
  .spanH2 {
    font-size: 1.2rem;
  }
  .articleLibros {
    padding: 2rem 0;
  }
  .linkCompra li a {
    font-size: 1.2rem;
  }
  .h1Error {
    font-size: 3rem;
  }
  .h2Error {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
