//VARIABLES GLOBALES

//Fonts

$principalFont: 'Roboto', sans-serif;

//Color

$white:#F5F0F0;
$black:#212529;
$color_1:#81B29A;
$color_2:#F5EBE0;

//Size
$textSm:1.5rem;
$textMd:1.8rem;
$textLg:2rem;
$textXl:4rem;

//Weight
$boldXl:800;
$boldLg:600;
$boldMd:500;
$boldSm:400;